<div class="login-page">
  <div class="card">
    <h1> Entrar </h1>
    <form action="">
      <div class="mb-3">
        <label for="email"> E-mail: </label>
        <input type="email" name="email" id="email" class="form-control" maxlength="100">
      </div>
      <div class="mb-3">
        <label for="senha"> Senha: </label>
        <input type="password" name="senha" id="senha" class="form-control" maxlength="100">
      </div>
      <a class="signup-link" routerLink="/cadastro"> Ainda não possui conta? Cadastre-se! </a>
      <button type="submit" class="btn w-100">
        Entrar
      </button>
    </form>
  </div>
</div>