.buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;

  li {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    li:nth-child(1) {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    li:nth-child(2) {
      text-align: center;
      width: 100%;

      div {
        text-align: center;
      }
    }
  }
}

.usuario-logado { 
  font-size: 14px;
  p {
    margin-bottom: 3px;
  }

  div {
    cursor: pointer;
    display: block;
    text-align: right;
  }
}

.cart-holder {
  position: relative;
  
  .badge {
    position: absolute;
    background: #4981ff;
    border-radius: 50%;
    font-size: 9px;
    top: -6px;
    right: -7px;
  }
}