.buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;

  li {
    font-size: 20px;
  }
}

.usuario-logado { 
  font-size: 14px;
  p {
    margin-bottom: 3px;
  }

  div {
    cursor: pointer;
    display: block;
    text-align: right;
  }
}