<div class="status-page" *ngIf="!loading; else loader">
  <div class="container">
    <app-status-situation [isInvalid]="isInvalid"></app-status-situation>
    <ng-container *ngIf="!isInvalid">
      <p class="my-5 text-center">
        Logo você receberá um e-mail sobre a situação de entrega do pedido.
      </p>
      <app-product-table></app-product-table>
      <a routerLink="/" class="btn btn-secondary mt-5">
        Voltar para o início
      </a>
    </ng-container>
  </div>
</div>

<ng-template #loader>
  <div class="loader"></div>
</ng-template>