<div class="signup-page">
  <div class="card">
    <h1> Cadastre-se </h1>
    <form #f="ngForm" (submit)="handleSubmit(f)">
      <div class="mb-3">
        <label for="name"> Nome completo: </label>
        <input type="text" ngModel name="name" id="name" class="form-control" maxlength="100" required>
        <app-error-display name="name" [submitted]="f.submitted"></app-error-display>
      </div>
      <div class="mb-3">
        <label for="cpf"> CPF (apenas números): </label>
        <input type="text" ngModel name="cpf" id="cpf" class="form-control" maxlength="11" required>
        <app-error-display name="cpf" [submitted]="f.submitted"></app-error-display>
      </div>
      <div class="mb-3">
        <label for="birthDate"> Data de nascimento: </label>
        <input type="date" ngModel name="birthDate" id="birthDate" class="form-control" maxlength="100" required>
        <app-error-display name="birthDate" [submitted]="f.submitted"></app-error-display>
      </div>
      <div class="mb-3">
        <label for="email"> E-mail: </label>
        <input type="email" autocomplete="username" ngModel name="email" id="email" class="form-control" maxlength="100" required email>
        <app-error-display name="email" [submitted]="f.submitted"></app-error-display>
      </div>
      <div class="mb-3">
        <label for="password"> Senha: </label>
        <input type="password" autocomplete="new-password" ngModel name="password" id="password" class="form-control" maxlength="100" required>
        <app-error-display name="password" [submitted]="f.submitted"></app-error-display>
      </div>
      <div class="buttons-holder">
        <a routerLink="/login" type="button" class="btn btn-secondary w-100">
          Voltar
        </a>
        <button type="submit" class="btn w-100" [disabled]="loading">
          <div class="loader" *ngIf="loading"></div>
          Confirmar
        </button>
      </div>
    </form>
  </div>
</div>