<div class="signup-page">
  <div class="card">
    <h1> Cadastre-se </h1>
    <form action="">
      <div class="mb-3">
        <label for="nome"> Nome completo: </label>
        <input type="text" name="nome" id="nome" class="form-control" maxlength="100">
      </div>
      <div class="mb-3">
        <label for="email"> E-mail: </label>
        <input type="email" name="email" id="email" class="form-control" maxlength="100">
      </div>
      <div class="mb-3">
        <label for="senha"> Senha: </label>
        <input type="password" name="senha" id="senha" class="form-control" maxlength="100">
      </div>
      <div class="buttons-holder">
        <a routerLink="/login" type="button" class="btn btn-secondary w-100">
          Voltar
        </a>
        <button type="submit" class="btn w-100">
          Confirmar
        </button>
      </div>
    </form>
  </div>
</div>