<div class="payment mt-4">
  <h2> Informações de pagamento </h2>
  <form class="row" action="">
    <div class="mb-3 col-md-12">
      <label for="numero"> Número do cartão: </label>
      <input id="numero" name="numero" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-12">
      <label for="nome"> Nome: </label>
      <input id="nome" name="nome" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-6">
      <label for="validade"> Validade: </label>
      <input id="validade" name="validade" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-6">
      <label for="cvv"> CVV: </label>
      <input id="cvv" name="cvv" class="form-control" type="text" maxlength="100"/>
    </div>
  </form>
</div>