<div class="product-page">
  <div class="container">
    <div class="not-found" *ngIf="!product && !loading">
      Produto não encontrado
    </div>
    <div class="row" *ngIf="product">
      <div class="col-md-6">
        <img class="img img-fluid" src="assets/products/{{product.imagePath}}" [alt]="product.name">
      </div>
      <div class="col-md-6">
        <h1 class="product-name"> {{ product.name }} </h1>
        <div class="prices-holder">
          <span class="price"> {{ product.price | currency: 'BRL' }} </span>
          <span class="discount"> {{ product.promotionalPrice  | currency: 'BRL' }} </span>
        </div>
        <p>
          {{ product.description }}
        </p>
        <div class="cart-holder">
          <div class="form-group">
            <label for="quantidade"> Quantidade</label>
            <select class="form-select" name="quantidade" id="quantidade" [(ngModel)]="quantidade">
              <option *ngFor="let qtd of [1,2,3,4,5]" [value]="qtd"> {{ qtd }} </option>
            </select>
          </div>
          <button class="btn btn-add-cart" type="button">
            ADICIONAR AO CARRINHO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>