.product-page {
  padding: 70px 0;

  @media (max-width: 768px) {
    padding: 15px 0;
  }
}

.not-found {
  font-size: 24px;
  text-align: center;
}

.product-name {
  font-size: 24px;
}

.prices-holder {
  display: flex;
  gap: 30px;
  margin: 15px 0;
  .price {
    font-size: 24px;
    color: #4981ff;
    font-weight: 500;
  }

  .discount {
    text-decoration: line-through;
    font-size: 16px;
  }
}

.cart-holder {
  border-top: 1px solid #c4c4c4;
  padding-top: 30px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  
  .form-select {
    max-width: 100px;
    height: 50px;
  }
}