<table class="table table-responsive">
  <thead>
    <tr>
      <th class="text-center"> Imagem </th>
      <th> Nome </th>
      <th class="text-center"> Valor Unit. </th>
      <th class="text-center"> Quantidade </th>
      <th class="text-center"> Subtotal </th>
      <th class="text-center" *ngIf="!readOnly"> Ação </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!products?.length">
      <td class="text-center" colspan="6"> Carinho vazio. Adicione alguns produtos! </td>
    </tr>
    <tr *ngFor="let product of products; let i = index">
      <td class="image-column"> 
        <img class="img-thumbnail" src="assets/products/{{product.imagePath}}" [alt]="product.name">
      </td>
      <td> {{ product.name }} </td>
      <td class="text-center"> {{ product.promotionalPrice || product.price | currency : 'BRL' }} </td>
      <td class="text-center"> {{ product.quantity }} </td>
      <td class="text-center"> {{ (product.promotionalPrice || product.price) * product.quantity | currency: 'BRL'}}</td>
      <td class="text-center" *ngIf="!readOnly">
        <button (click)="removeItem.emit(i)" type="button" class="btn-delete" title="Excluir produto">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>