.cart-page {
  padding: 30px 0;
}

.page-title {
  font-weight: 700;
}

.image-column {
  width: 130px;
}

.btn-delete {
  border: none;
}

table th,
table td {
  padding-left: 30px;
  padding-right: 30px;
}

.buttons-holder {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 15px;
}