<div class="product">
  <a routerLink="produto/{{product.name}}">
    <span *ngIf="percentage" class="percentage"> -{{ percentage }}% </span>
    <div class="product-img">
      <img class="img img-fluid" src="assets/products/{{product.imagePath}}" [alt]="product.name">
    </div>
    <div class="product-content">
      <h3 class="product-name" [title]="product.name"> {{ product.name }} </h3>
      <div class="price">
        <span class="price --highlight"> {{ product.promotionalPrice || product.price | currency: 'BRL' }} </span>
        <span class="price" *ngIf="product.promotionalPrice"> 
          - 
          <span class="--discount">{{ product.price | currency: 'BRL' }} </span>
        </span>
      </div>
    </div>
  </a>
</div>
