<div class="address">
  <h2> Endereço para entrega </h2>
  <fieldset [formGroup]="addressForm" class="row" action="">
    <div class="mb-3 col-md-3">
      <label for="cep"> CEP (apenas números): </label>
      <input id="cep" formControlName="zipCode" class="form-control" type="text" maxlength="8"/>
      <app-error-display [control]="addressForm.get('zipCode')" [submitted]="submitted"></app-error-display>
    </div>
    <div class="mb-3 col-md-9">
      <label for="endereco"> Endereço: </label>
      <input id="endereco" formControlName="street" class="form-control" type="text" maxlength="100"/>
      <app-error-display [control]="addressForm.get('street')" [submitted]="submitted"></app-error-display>
    </div>
    <div class="mb-3 col-md-3">
      <label for="numero"> Número: </label>
      <input id="numero" formControlName="number" class="form-control" type="text" maxlength="3"/>
      <app-error-display [control]="addressForm.get('number')" [submitted]="submitted"></app-error-display>
    </div>
    <div class="mb-3 col-md-9">
      <label for="bairro"> Bairro: </label>
      <input id="bairro" formControlName="neighborhood" class="form-control" type="text" maxlength="100"/>
      <app-error-display [control]="addressForm.get('neighborhood')" [submitted]="submitted"></app-error-display>
    </div>
    <div class="mb-3 col-md-9">
      <label for="cidade"> Cidade: </label>
      <input id="cidade" formControlName="city" class="form-control" type="text" maxlength="100"/>
      <app-error-display [control]="addressForm.get('city')" [submitted]="submitted"></app-error-display>
    </div>
    <div class="mb-3 col-md-3">
      <label for="estado"> UF: </label>
      <input id="estado" formControlName="state" class="form-control" type="text" maxlength="2"/>
      <app-error-display [control]="addressForm.get('state')" [submitted]="submitted"></app-error-display>
    </div>
  </fieldset>
</div>