<div class="address">
  <h2> Endereço para entrega </h2>
  <form class="row" action="">
    <div class="mb-3 col-md-3">
      <label for="cep"> CEP: </label>
      <input id="cep" name="cep" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-9">
      <label for="endereco"> Endereço: </label>
      <input id="endereco" name="endereco" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="numero"> Número: </label>
      <input id="numero" name="numero" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-9">
      <label for="bairro"> Bairro: </label>
      <input id="bairro" name="bairro" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-9">
      <label for="cidade"> Cidade: </label>
      <input id="cidade" name="cidade" class="form-control" type="text" maxlength="100"/>
    </div>
    <div class="mb-3 col-md-3">
      <label for="estado"> UF: </label>
      <input id="estado" name="estado" class="form-control" type="text" maxlength="2"/>
    </div>
  </form>
</div>