/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000;
  height: 100%;
}

a {
  transition: all 0.3s ease-in;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #4981ff;
  }
}

.page-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

a.btn,
button.btn,
a.btn:focus,
button.btn:focus,
a.btn:disabled,
button.btn:disabled {
  background-color: #343538;
  color: #fff;
  font-weight: 500;
  border-radius: 0;
  padding: 15px;
  position: relative;
  z-index: 1;
  border: none;
  height: 50px;

  &.btn-secondary {
    background-color: transparent;
    border: 1px solid #343538;
    color: #343538;
    &:hover{
      background-color: transparent;
    }
  }

  &::after {
    content: "";
    width: 0;
    left: auto;
    top: 0;
    right: 0;
    background: #4981ff;
    transition: all 0.3s ease;
    position: absolute;
    height: 100%;
    z-index: -1;
  }

  &:hover {
    background-color: #343538;
    color: #fff;
    &::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 12px;
  left: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}